<!DOCTYPE html/>
html(lang="en")
    head
        meta(charset="UTF-8")
        title Профит
        meta(charset="UTF-8")
        meta(name="viewport",content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1")
        meta(name="description",content="Предоставление услуг связи")
        meta(name="news_date",content="2016-05-01",scheme="YYYY-MM-DD")
        //- meta(name="identifier",content="0-2345-6634-6",scheme="ISBN")
        meta(name="keywords",content="HTML,CSS,XML,JavaScript")
        meta(name="author",content="lum.ru")
        script(src='https://cdn.jsdelivr.net/pace/1.0.2/pace.min.js')
        //- main css link
        link(rel="stylesheet", href="https://cdn.jsdelivr.net/pace/1.0.2/themes/yellow/pace-theme-flash.css")
        link(rel="stylesheet", href="css/main.css")
        //- bower:css
        //- endbower
    body
        
        
        //- bower:js
        script(src='../../dist/components/jquery/dist/jquery.js')
        //- endbower
        script(src="js/custom_plgns.min.js")
        script(src="js/main.min.js")